.image-cropper {
    width:200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    height: auto;
    width: 200px;
}

.centeringcontainer {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}